<%- include ("../partials/header.ejs") %>

<div class="container">
  <div class="row mt-3">
    <div class="col-1">
      <label class="form-label" for="nom">Nom</label>
    </div>

    <div class="col-6">
      <input name="nom" id="nom" type="text" class="form-control" />
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-1">
      <label class="form-label mt-2" for="date-debut">Date debut</label>
    </div>

    <div class="col-6">
      <input
        name="date-debut"
        id="date-debut"
        type="date"
        class="form-control"
      />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-1">
      <label class="form-label mt-1" for="date-fin">Date fin</label>
    </div>

    <div class="col-6">
      <input name="date-fin" id="date-fin" type="date" class="form-control" />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-1">
      <label class="form-label" for="description">Description</label>
    </div>

    <div class="col-6">
      <textarea
        class="form-control"
        name="description"
        id="description-zone"
      ></textarea>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-1">
      <label class="form-label" for="emplacement">Emplacement</label>
    </div>

    <div class="col-6">
      <input
        name="emplacement"
        id="emplacement"
        type="text"
        class="form-control"
      />
    </div>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
